<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, inital-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://unpkg.com/7.css">
    <link rel="stylesheet" href="/css/style.css">
    <style>@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');</style>
    <style>h1 {margin-top: 0}</style>
  </head>
  <body>
    <div class="window glass active content" id="main">
      <div class="title-bar">
        <div class="title-bar-text">EJSnow</div>
        <div class="title-bar-controls">
          <!-- These are decorative and don't actually do anything -->
          <button aria-label="Minimize"></button>
          <button aria-label="Maximize"></button>
          <button aria-label="Close"></button>
        </div>
      </div>
      <div class="window-body has-space">
        {{ content }}
      </div>
      <footer>
        <a href="https://github.com/ejsnow">My GitHub profile</a>
      </footer>
    </div>

    <!-- Lightbox window -->
    <div class="window glass active" id="image-viewer" role="dialog" aria-labelledby="lightbox-title">
      <div class="title-bar">
        <div class="title-bar-text" id="lightbox-title">Viewing image</div>
        <div class="title-bar-controls">
          <button aria-label="Minimize"></button>
          <button aria-label="Maximize"></button>
          <button onclick="history.back()" aria-label="Close"></button>
        </div>
      </div>
      <div class="window-body" id="lightbox">
        <figure>
          <img id="lightbox-img" src="" alt="">
          <figcaption id="image-caption"></figcaption>
        </figure>
      </div>
    </div>
    <script src="/js/script.js"></script>
  </body>
</html>
